<div class="col-12 col-md-4 mb-4 mb-md-0">
  <div class="stat-item">
    <span class="stat-number">{{ stat_number_value }}</span>
    <span class="stat-label">{{ stat_number_label }}</span>
  </div>
</div>
