  <div class="col-lg-4 col-md-6">
    <div class="feature-card" data-aos="fade-up">
      <div class="feature-icon">
        <i class="{{ icon }}"></i>
      </div>
      <h3 class="feature-title">{{ content.field_feature_title|raw }}</h3>
      <div class="feature-description">
        {{ content.field_feature_description }}
      </div>
    </div>
  </div>



