@media (min-width: 75rem) {
    .site-header {
        min-height: 0;
    }
}

.admin-layout .admin-main {
    margin: 0;
    margin-left: 2%;
}

.path-frontpage .page-banner-section {
    display: none !important;
}

.product-card img{
  height: 220px;
}

.card-title a{
  font-size: 1.25rem;
  text-decoration: none !important;
  color: inherit;
}

.card-title a:hover {
  text-decoration: underline;
  color: #000; /* or your theme's color */
}