{#
 * User account dropdown menu (Bootstrap 5)
 * Place in: themes/custom/stitchlyn_theme/templates/navigation/menu--user-account.html.twig
#}

<div class="profile-dropdown dropdown">
  <a
    class="profile-avatar d-flex align-items-center justify-content-center rounded-circle"
    href="#"
    id="profileDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    style="
      width: 40px;
      height: 40px;
      background: #25374e;
      color: #fff;
      font-size: 1.3rem;
    "
  >
    <i class="fas fa-user"></i>
  </a>

  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
    {% for item in items %}
      <li>
        <a class="dropdown-item {{ item.in_active_trail ? 'active' }}" href="{{ item.url }}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="/logout">Logout</a></li>
  </ul>
</div>
